*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --font-Poppins : "Poppins", sans-serif;
    --font--Montserrat : "Montserrat", sans-serif;
    --font-Roboto :  "Roboto", sans-serif;
    --color-biru : #2e479b;
    --color-biru-muda : #0044ff;
    --color-abu-abu : #EAEFEF;


}


body{
    background-color: #f3f3f3;
}

.mainContainer{
    display: flex;
}
/* <!-- Navbar area --> */

.navbarContainer{
    background-color: white;
    height: 100vh;
    width: 15%;
    border: var(--color-abu-abu) solid .5px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
}

.top-side{
    margin-top: 30px;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.logo > h3{
    font-family: var(--font--Montserrat);
    color: var(--color-biru);
    font-size: 1.4rem;

}

.navbar{
    font-family: var(--font-Roboto);
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar > ul{
    margin-left: 5px;
}

.navbar > ul > li {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 20px;
    list-style-type: none;
    color: black;
}

.btn-list > ul > li{
    list-style-type: none;
}

.btn-list > ul > li > a{
    margin-top: 10px;
    font-weight: 400;
    font-size: 0.9rem;
    list-style-type: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    position: relative;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}

.btn-list > ul > li > a:hover{
    background-color: #9494f53b;
    color: #4300fa;
}

.btn-list > ul > li > a::before{
    content: "";
    position: absolute;
    left: -10px;
    width: 3px;
    height: 0;
    background-color: #3737e7;
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.btn-list > ul > li > a:hover:before{
    height: 25px;
}


.btn-list > ul > li >  a > i{
    color: var(--color-biru-muda);
}


.bottom-side{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.btn-sistem{
    margin-left: 40px;
}

.btn-sistem > button{
    font-size: .8rem;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-weight: 500;
    background-color: #392edd;
    padding: 10px;
    border-radius: 5px;

}

.btn-sistem > button:hover{
    background-color: #9a75df;
}
.btn-sistem > button > i{
    margin-right: 10px;
    color: white;
}

.profile-admin{
    margin-left: 40px;
    width: 160px;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-size: 1.1rem;
    font-family: var(--font-Poppins);
    color: gray;
    border: 1px #c9c6c6 solid;
    font-weight: 600;
}

.profile-admin > img{
    background-color: #206999;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* <!-- navbar end --> */

 /* content area */

.contentContainer {
    margin-top: 20px;
    width: 100%;
    margin-left:  350px;
}
.about-poliKlinik{
    width: 95%;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
}

.container-box{
    background-color: #ffffff;
    border: rgb(216, 216, 216) solid .5px;
    border-radius: 10px;
}
.about-1{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 20px;
}

.about-1 > h2{
    font-family: var(--font--Montserrat);
    font-size: 2rem;
    color: #535353;
}

.about-1 > p{
    font-family: var(--font-Roboto);
    color: gray;
    font-size: 1rem;
    width: 50%;
    border-left: 3px solid gray;
    padding-left: 10px;
    margin-top: 10px;
}

.about-1 > h3{
    margin-top: 20px;
    font-family: var(--font-Poppins);
    font-size: 1.1rem;
    color: #464646;
}
.about-1 > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.about-1 > ul > li{
    list-style-type: none;
    font-family: var(--font-Poppins);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
.about-1 > ul > li > span{
    width: 80%;
    margin-top: 10px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #438ddc;
    border-top: 5px solid #0b519b;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.about-2{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
}


.about-2 > h3{
    margin-top: 20px;
    font-family: var(--font-Poppins);
    font-size: 1.1rem;
    font-weight: 600;
    color: #464646;
}
.about-2 > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.about-2 > ul > li{
    list-style-type: none;
    font-family: var(--font-Poppins);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
.about-2 > ul > li > span{
    width: 80%;
    margin-top: 10px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #46c6ad;
    border-top: 5px solid #0b6a62;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.about-3{
    grid-column-start: 3;
    grid-column-end: 4;
}
.dokter-poli{
    width: 95%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.btn-navigasi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.search{
    width: 40%;
}

.search > form > input{
    width: 80%;
    padding: 10px;
    border-radius: 3px;
    border: .5px solid rgb(191, 191, 191);
    outline: none;
}

.btn-navigasi button{
    padding: 10px;
    border: none;
    background-color: #2983de;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-navigasi button:hover{
    background-color: #25588b;
}

.search > form > button{
    background-color: #2932de;

}

.tabel-list{
    width: 90%;
    height: 90vh;
    border-radius: 10px;
    border: gray solid 1px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px;
    flex-direction: column;
}

.list-data{
    width: 90%;
    border-radius: 10px;
    border: .5px solid rgb(190, 190, 190);
    padding: 25px;
}

.list-data > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-Poppins);
}

.list-data > ul >li{
    list-style-type: none;
}

.list-data > ul > li:nth-child(2){
    font-size: 1.4rem;
    font-weight: 600;
}

.list-data > ul >li button{
    background-color: #0044ff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    outline: none;
}
.list-data > ul >li button > a{
    color: white;
    text-decoration: none;
}
 /* content end */